@import '../../styles/main.scss';

.content{
    background-color: $cyan / 2;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1000px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
