@import '../../styles/main.scss';

.footer{
    width: 100%;
    background-color: $black;
    color: $white;
    &__wrapper{
        padding: 25px 0;
    }
    &__flex{
        display: flex;
        justify-content: center;
        @include for-phone {
            text-align: center;
            display: block;
        }
    }
    &__title{
        cursor: pointer;
        font-weight: 1000;
        font-size: 30px;
        padding: 0 20px;
        @include for-phone {
            font-size: 23px;
        }
    }
    &__icons{
        font-size: 30px;
    } 
    &__icon{
        margin: 20px;
        cursor: pointer;
    }
    &__para{
        @include for-phone {

        }
    }
}
